.main {
  &_container {
    position: absolute;
    top: 30vh;
    left: 15vw;

    @include mobile {
      left: 5vw;
    }
  }

  &_name {
    width: 70vw;
    
    @include mobile {
      width: 90vw;
    }

    @include lightMode {
      @include invert;
    }
  }

  &_subtitle {
    text-align: end;
    font-size: 1.5rem;
    margin: 1rem;
  }
}
