@import "./variables.scss";
@import "./layout.scss";
@import "./home.scss";
@import "./markdown.scss";
@import "./projects.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* TODO: better colours */
  background-color: black;
  color: white;

  @include light-mode {
    background-color: white;
    color: black;
  }
}

.content {
  position: absolute;
  top: 30vh;
  left: 15vw;
  width: 70vw;
  padding-bottom: 30vh;
}

.about_container, .projects_container {
  max-width: 1300px;
  margin: 0 auto;

  h2 {
    margin-bottom: 1rem;
    border-bottom: 3px solid white;

    @include light-mode {
      border-bottom: 3px solid black;
    }
  }
}

// TODO: check if next really needs all these or if we can simplify
.error_container {
  position: fixed;
  top: 0;
  left: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_box {
  line-height: 48px;

  &__left {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    padding-right: 23px;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
    border-right: 1px solid rgba(255,255,255,.3);

    @include light-mode {
      border-right: 1px solid rgba(0,0,0,.3);
    }
  }
  
  &__right {
    display: inline-block;

    h2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.social_icon {
  color: inherit;
  margin: 0.5rem 0.5rem 0.5rem 0;
  
  svg {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 2px;
  }

  &:hover {
    @include invert;
  }

  @include light-mode {
    @include invert;

    &:hover {
      svg {
        @include invert;
      }
    }
  }
}

// ----- TEMP - TODO: DELETE THIS -----

#in_prog_alert {
  padding: 25px;
  border-radius: 10px;
  margin: 50px;

  color: black;
  background-color: white;

  @include light-mode {
    color: white;
    background-color: black;
  }
}

// ----------------
