@import "./variables.scss";
@import "./home.scss";
@import "./projects.scss";
@import "./layout.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* TODO: better colours */
  background-color: black;
  color: white;

  @include lightMode {
    background-color: white;
    color: black;
  }
}

.contact_container, .projects_container {
  position: absolute;
  top: 30vh;
  left: 15vw;
  width: 70vw;

  h2 {
    margin-bottom: 1rem;
    border-bottom: 3px solid white;

    @include lightMode {
      border-bottom: 3px solid black;
    }
  }
}
