.navbar {
  @include link-highlight;

  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  z-index: 999;
  background-color: black;
  
  @include lightMode {
    background-color: white;
  }

  &_logo {
    height: 20px;
    margin: 10px;
    
    @include lightMode {
      @include invert;
    }
  }

  nav {
    margin: 0 0 0 auto;
  }

  ul {
    display: flex;
    list-style-type: none;
  
    a {
      text-decoration: none;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
    }

    .current {
      opacity: 50%;
    }
  }
}

.social_list {
  position: fixed;
  bottom: 0;
  right: 0;

  @include lightMode {
    @include invert;
  }

  svg {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 32px;
  }

  a {
    color: inherit;
    margin: 0.5rem 0.5rem 0.5rem 0;
  
    &:hover {
      @include invert; 
    }
  }
}

.version {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.5rem;
}